<mat-toolbar class="toolbar" color="accent">
  <span>{{ title }}</span>
  <button
    mat-raised-button
    routerLink="/users-list"
    *ngIf="title == 'User Form'"
  >
    Users List
  </button>
</mat-toolbar>
