.container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 16px;
    width: 400px;

}