$md-mcgpalette0: (
  50 : #e8eaf6,
  100 : #c5cae9,
  200 : #9fa8da,
  300 : #7986cb,
  400 : #5c6bc0,
  500 : #3f51b5,
  600 : #3949ab,
  700 : #303f9f,
  800 : #283593,
  900 : #1d3557,
  A100 : #8c9eff,
  A200 : #536dfe,
  A400 : #3d5afe,
  A700 : #304ffe,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-mcgpalette1: (
  50 : #e5f4f3,
  100 : #bee4e1,
  200 : #93d3cd,
  300 : #67c1b8,
  400 : #47b3a9,
  500 : #26a69a,
  600 : #229e92,
  700 : #1c9588,
  800 : #178b7e,
  900 : #457b9d,
  A100 : #adfff3,
  A200 : #7affec,
  A400 : #47ffe4,
  A700 : #2dffe0,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-mcgpalette2: (
  50 : #e5f4f3,
  100 : #bee4e1,
  200 : #93d3cd,
  300 : #67c1b8,
  400 : #47b3a9,
  500 : #26a69a,
  600 : #229e92,
  700 : #1c9588,
  800 : #178b7e,
  900 : #e63946,
  A100 : #adfff3,
  A200 : #7affec,
  A400 : #47ffe4,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define custom colors for the theme
$custom-primary: mat.define-palette($md-mcgpalette0, 900); // #1d3557 as primary color
$custom-accent: mat.define-palette($md-mcgpalette1, 900); // #457b9d as accent color
$custom-warn: mat.define-palette($md-mcgpalette2, 900); // #e63946 as warn color

// Update the theme object with the new colors
$wizme-test-theme: mat.define-light-theme((color: (primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn,
      )));

// Include the updated theme styles
@include mat.all-component-themes($wizme-test-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* For use in src/lib/core/theming/_palette.scss */