.mat-elevation-z8 {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: end;
}